<div class="flex justify-center gap-4 flex-wrap mt-8">
  {{#each socials}}
  <a class="w-8" href="{{url}}" target="_blank" rel="noopener" title="{{title}}">
    <img class="w-6 h-6" src="/assets/images/logos/{{slug}}.png" />
  </a>
  {{/each}}
</div>

<div
  class="flex justify-center align-middle relative h-52 w-80 my-16 m-auto -z-50"
>
  <div class="logo"></div>
  <div class="triangle"></div>
</div>

<div class="flex flex-col text-center uppercase m-4 mt-0 gap-4">
  <iframe class="border-r-8 w-auto m-8" src="https://open.spotify.com/embed/playlist/5qDbcgGipA3LsdvWXfprdb?utm_source=generator&theme=0" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

  <h2 class="my-2">Releases</h2>
  <div class="flex flex-wrap gap-8 justify-center mb-8">
    {{#each songs}}
    <a class="w-32 bg-gray-800 bg-opacity-50 hover:bg-white hover:bg-opacity-10 hover:grayscale"
      href="/release/{{slug}}.html">
      <img class="w-full" src="/assets/images/releases/200/{{slug}}.jpg" />
      <div class="p-4">{{title}}</div>
    </a>
    {{/each}}
  </div>
</div>