<!DOCTYPE html>
<html lang="en">

<head class="h-auto bg-black">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}{{#if title}} - {{/if}}Steven Laidlaw</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet" />
  <link href="/assets/css/main.css" rel="stylesheet" />

  <!-- Meta Pixel -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '221962575062598');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=221962575062598&ev=PageView&noscript=1"
    /></noscript>
</head>

<body class="bg-top [background-image:url(/assets/images/me.png)] bg-cover bg-fixed backdrop-blur-3xl text-white">
  {{{body}}}

  <div class="flex justify-center gap-4 flex-wrap mt-4">
    {{#each socials}}
    <a class="w-8" href="{{url}}" target="_blank" rel="noopener" title="{{title}}">
      <img class="w-6 h-6" src="/assets/images/logos/{{slug}}.png" />
    </a>
    {{/each}}
  </div>
  
  <div class="w-full p-8 mt-8 bg-neutral-900 text-center">
    Copyright © 2024 <a href="/" title="Steven Laidlaw - Home">Steven Laidlaw</a>
  </div>
</body>

</html>